<!-- Toolbar -->
<div class="toolbar" role="banner">
</div>

<div class="content" role="main">
  <div class="card-container w100" style="justify-content: space-between">
    <form [formGroup]="biasForm" class="card card-small">
      <input
        id="bias"
        type="text"
        placeholder="ADD BIAS (ON THE RUN)"
        formControlName="bias"
        [readonly]="isInputDisabled"
        [ngStyle]="{ color: isInputDisabled ? 'red' : 'green' }"
      />
    </form>

    <div *ngIf="!isAChar">
      <p style="text-align: justify; color: red">
        BIAS IS NOT A SINGULAR OR VALID CHAR
      </p>
    </div>

    <button
      id="generate"
      class="card card-small"
      [ngStyle]="{ 'background-color': isRequestingData ? 'red' : 'green'  }"
      (click)="generateGrid()"
      tabindex="0"
    >
      <span *ngIf="!isRequestingData"> GENERATE 2D GRID </span>
      <span *ngIf="isRequestingData"> STOP </span>
    </button>
  </div>

  <div class="w100">
    <table id="table" class="table">
      <tbody>
        <tr *ngFor="let row of randomChars">
          <td *ngFor="let cell of row">
            {{ cell }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="isRequestingData" class="card-container">
    <span id="live">LIVE</span>
  </div>

  <div *ngIf="!isRequestingData" class="card-container">
    <span id="offline">OFFLINE</span>
  </div>

  <div class="card-container">
    <button class="card card-small" disabled>
      <span>YOUR CODE: {{ code }}</span>
    </button>
  </div>
</div>
